data/*
scripts/archivo_descargado
.terraform*
*.tfstate*
update_keys.py
.env
#requirements.txt
.terragrunt-cache
aws
node_modules/
package-lock.json


my-ec2-key
*hosts.ini*
*.json
*.xml
*xq*
*pycache*

